body {
    background: linear-gradient(to right, #ff2500, #00ff55);
    height: 100%;
    margin: 0;

.centered-title {
    text-align: center;
}

p {
    text-indent: 2ch;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: f8f9fa;
    color: 212529;
}

footer p {
    font-size: 12px;
}

}